{% extends 'base.html' %}

{% block title %}
    Авторизация
{% endblock %}

{% block extra_css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'shopapp/css/login.css' %}">
{% endblock %}

{% block extra_js %}
    <script src="{% static 'shopapp/js/login.js' %}"></script>
{% endblock %}

{% block toppanel %}
{% endblock %}

{% block content %}
{% if next %}
  {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
  {% else %}
    <p>Please login to see this page.</p>
  {% endif %}
{% endif %}

  <div class="container">
      <h2>Авторизация</h2>
      <form method="post" id="contactForm">
        {% csrf_token %}
          <div class="form-group">
            <label for="{{ form.username.id_for_label }}">Имя пользователя</label>
            <div class="input-container">
                <i class="fa fa-user icon"></i>
                <input type="text" id="{{ form.username.id_for_label }}" name="{{ form.username.name }}" placeholder="Email или Логин" required/>
            </div>
          </div>
          <div class="form-group">
            <label for="{{ form.password.id_for_label }}">Пароль</label>
            <div class="input-container">
                <i class="fa fa-key icon"></i>
                <input type="password" id="{{ form.password.id_for_label }}" name="{{ form.password.name }}" placeholder="Пароль" required/>
            </div>
            <small class="show-password">Показать пароль<input type="checkbox" onclick="myFunction('{{ form.password.id_for_label }}')"></small>
          </div>
            <div class="form-group">
                <button type="submit">Войти</button>
            </div>
            {% if error %}
                <p class="error-message">{{ error }}</p>
            {% endif %}
          <input type="hidden" name="next" value="{{ next }}" />
            <small class="form-group">
                 <div class="form-check form-switch">
                    <label class="form-check-label" for="rememberMe">Запомнить меня
                        <input class="form-check-input" id="rememberMe" type="checkbox" name="rememberMe"/>
                    </label>
                    <div class="spacer"></div>
                    <p><a href="{% url 'password_reset' %}">Забыли пароль?</a></p>
                 </div>
                <p>Еще нет аккаунта? <a href="{% url 'register' %}">Зарегистрироваться</a></p>
            </small>
      </form>
  </div>
{% endblock %}

{% block footer %}
{% endblock %}
