{% extends 'base.html' %}

{% block title %}
    Статьи
{% endblock %}

{% block extra_css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'shopapp/css/index.css' %}">
{% endblock %}

{% block extra_js %}
    <script src="{% static 'shopapp/js/index.js' %}"></script>
    <script src="{% static 'shopapp/js/post.js' %}"></script>
{% endblock %}

{% block header %}
    <header>
        <h1>Отображение категорий</h1>
        {% include 'shopapp/includes/form_search.html' %}
    </header>
    <ul class="category-panel">
        <li>
            <p class="link-read-post">
                <button class="btn category-btn">
                    <a href="{% url 'all_posts' %}"><span>Все статьи</span></a>
                </button>
            </p>
        </li>
        {% for c in cats %}
        <li>
            <p class="link-read-post">
                <button class="btn category-btn">
                    <a href="{{ c.get_absolute_url }}"><span>{{ c.name }}</span></a>
                </button>
            </p>
        </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block content %}
<table class="table-content">
    <tbody>
        <tr>
            <td valign="top" class="right-content">
                <div class="post-content">
                    {% block right_content %}
                        <div class="header-article">
                            <h3>ВСЕ СТАТЬИ</h3>
                        </div>
                        <div class="posts">
                            {% if query %}
                                {% include 'shopapp/includes/search_results.html' %}
                            {% else %}
                            <ul>
                                {% for p in page_obj %}
                                {% if p.is_published %}
                                    <li class="post" onclick="location.href='{{ p.get_absolute_url }}?page={{ page_number }}'">
                                        {% if p.photo %}
                                            <p><img class="img-article-left" src="{{p.photo.url}}" alt=""></p>
                                        {% endif %}
                                        <div class="post-info">
                                            <h3>{{p.title}}</h3>
                                            <h5>Дата публикации: {{p.time_create}}</h5>
                                            <div>{{ p.preview }}</div>
                                        </div>
                                    </li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                        <!-- Пагинация -->
                        {% include 'shopapp/includes/paginator.html' %}
                    {% endblock %}
                </div>
            </td>
            <td valign="top" class="right-chapters">
                {% block right-chapters %}
                {% include 'shopapp/includes/popular_posts.html' %}
                {% endblock %}
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}

