/* ----------------------HEADER---------------------- */
.header-article {
    color: black;
    background: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: left;
    float: left;
}

/* ----------------------Форма поиска---------------------- */
/* Стиль поля поиска */
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 70%;
    background: #f1f1f1;
}

/* Стиль кнопки "Отправить" */
form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Предотвращение двойных границ */
    cursor: pointer;
}

form.example button:hover {
    background: #0b7dda;
}

/* Снимите поплавки */
form.example::after {
    content: "";
    clear: both;
    display: table;
}
/* --------------------------------------------------- */

/* ----------------------CONTENT---------------------- */
.table-content {
    display: flex;
    justify-content: space-around;
    width: 100%;
    display: table;
}

.category-panel {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    background-color: #208852;
    padding: 10px 10px 10px 10px;
    text-align: center;
}

.category-panel ul {
     font-size: 20px;
     list-style: none;
     margin: 0;
}

.category-panel li a {
    color: #fff;
    padding: 10px 10px;
    text-decoration: none;
    cursor: pointer;
}

.category-panel a:hover {
     color: #435644;
}

.category-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    font: inherit;
}

.right-content {
    padding: 40px 20px 20px 40px;
    width: 60%;
    display: table-cell;
}

.posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    float: left;
    width: 60%;
}

.post {
    display: flex;
    flex-direction: row;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.post img {
    height: 300px;
    width: 500px;
    padding: 5px 20px 10px 5px;
}

.post:hover {
    transform: scale(1.02); /* Легкое увеличение при наведении */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Тень при наведении */
}

.post-info {
    padding: 5px 20px 10px 5px;
}

.right-chapters {
    width: 10%;
    display: table-cell;
    padding: 20px 10px 10px 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/* ------------------------------------------------------------ */

/* -----------------------RIGHT-CHAPTERS----------------------- */
.card {
    background-color: white;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Ensures content doesn't overflow card */
}

.card h3 {
    margin-top: 0;
    font-size: 18px;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.popular-posts {
    list-style: none;
    padding: 0;
    margin: 0;
}

.popular-posts li {
    margin-bottom: 10px;
}

.popular-posts a {
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s ease;
}

.popular-posts a:hover {
    color: #0056b3;
}

.user-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    border-bottom: 2px solid #e9ecef;
    width: 100%;
}

.user-header h6 {
    margin-top: 0;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.user-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.user-grid-item {
    flex: 1 1 calc(25% - 10px); /* 4 items per row with gap adjustment */
    box-sizing: border-box;
    text-align: center;
}

.user-grid-item img {
    width: 100%;
    height: auto;
    border-radius: 50%; /* Circular images */
    border: 2px solid #ddd; /* Light border around images */
    padding: 2px; /* Small padding inside border */
    background-color: #f8f9fa; /* Light background for images */
}

@media (max-width: 768px) {
    .user-grid-item {
        flex: 1 1 calc(33.33% - 10px); /* 3 items per row on medium screens */
    }
}

@media (max-width: 480px) {
    .user-grid-item {
        flex: 1 1 calc(50% - 10px); /* 2 items per row on small screens */
    }
}
/* ------------------------------------------------------------ */

/* ------------------Страница открытого поста------------------ */
.post-content {
    overflow-wrap: break-word; /* Это поможет переносить длинные слова и предотвращать расширение таблицы */
    hyphens: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-info img {
    height: 600px;
    width: 1000px;
    padding: 20px 20px 20px 20px;
    display: block;
    margin: 0 auto;
}
/* ------------------------------------------------------------ */

/* -------------------------КОММЕНТАРИИ------------------------ */
.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.comments-section {
    margin-top: 40px;
}
.comments-section h2 {
    margin-bottom: 20px;
}
.list-group {
    list-style-type: none;
    padding: 0;
    border-left: 3px solid #dedede;
}
.list-group-item {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
}
.list-group-item strong {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
}
.list-group-item p {
    margin: 0;
}
.list-group-item small {
    color: #888;
    display: block;
    margin-top: 10px;
}
.comment-form {
    margin-top: 40px;
    padding: 15px;
}
.comment-form h3 {
    margin-bottom: 20px;
}
.comment-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
}
.comment-form button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.comment-form button:hover {
    background-color: #0056b3;
}

.reply-form-container {
    margin-top: 10px;
}

.reply-form {
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.reply-form button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.reply-form button:hover {
    background-color: #0056b3;
}

.reply-btn {
    position: relative;
    background: none;
    color: blue;
    border: none;
    padding: 10px 5px;
    border-radius: 5px;
    cursor: pointer;
}

.reply-btn:hover {
    text-decoration: underline;
}

/* Основной стиль для списка комментариев */
.comment-item {
    position: relative;
    padding-left: 20px;
}

/* Основной стиль для элемента ответа */
.reply-item {
    margin-top: 10px;
}

/* Кнопка ответа */
.reply-btn {
    margin-top: 5px;
}

/* Контейнер формы ответа */
.reply-form-container {
    margin-top: 10px;
    padding: 10px;
    border-top: 1px solid #ddd;
}

.comment-profile {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.show-replies {
    position: relative;
    background: none;
    color: blue;
    border: none;
    padding: 10px 5px;
    border-radius: 5px;
    cursor: pointer;
}

.show-replies:hover {
    text-decoration: underline;
}
/* ------------------------------------------------------------ */

/* ----------------------Пагинация постов---------------------- */
/* Общий контейнер пагинации */
.paginator {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: #f1f1f1;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Контейнер для навигационных стрелок и номеров страниц */
.pagination-nav {
    display: flex;
    align-items: center;
}

/* Стрелки пагинации */
.pagination-arrow {
    margin: 0 5px;
    text-decoration: none;
    font-size: 20px;
    color: #007bff;
    transition: color 0.3s;
}

.pagination-arrow:hover {
    color: #0056b3;
}

/* Отметка активной страницы */
.page-num-selected {
    background-color: #007bff;
    color: #fff;
}

/* Номера страниц */
.pagination-numbers {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Индивидуальная кнопка страницы */
.page-num {
    margin: 0 3px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: #007bff;
    background-color: #fff;
    transition: background-color 0.3s, color 0.3s;
}

.page-num a {
    color: inherit;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
}

.page-num a:hover {
    background-color: #007bff;
    color: #fff;
}

/* Деактивированные стрелки */
.pagination-arrow.disabled {
    color: #ccc;
    cursor: default;
}

/* ------------------------------------------------------------ */
