body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}
.container {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h2 {
    text-align: center;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.form-group button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}
.form-group button:hover {
    background-color: #45a049;
}
.form-group p {
    text-align: center;
}

/* Стиль формы иконки */
.icon {
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
}

.form-check {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form-check-label {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.spacer {
    flex-grow: 1;  /* Расстояние между юзер панелью и остальной частью */
}